.header1 Funnels

.subheader Sign up conversion 

#signup-funnel
:coffee
  $ ->
    Keen.onChartsReady () ->
      s1 = new Keen.Step "page-load",
        name: "Logged out page load"
        actorProperty: "visitor_id"
        filters:[{property_name: "logged_in", operator: "eq", property_value: false}]

      s2 = new Keen.Step "Show Signup Disambig",
        name: "Show Signup Disambig"
        actorProperty: "visitor_id"

      s3 = new Keen.Step "Show Register Form", 
        name: "Show Register Form"
        actorProperty: "visitor_id"

      s4 = new Keen.Step "User Registered",
        name: "User Registered"
        actorProperty: "visitor_id"

      funnel = new Keen.Funnel([s1, s2, s3, s4], { actorProperty: "visitor_id" })
      chart = new Keen.FunnelChart(funnel, {
        height: 500, width: 700 , title: "Signup Conversion Funnel"
      })
      chart.draw(document.getElementById("signup-funnel"))

%b Second possible chart 

#subscribe-funnel
