%h1 Main Dashboard
</br>
</br>
%p Week over Week
</br>
Total visits<br>
New visits %<br>
Returning visits %<br>
Unique visitors<br>
Pageviews<br>
Session durations (average)<br>
Bounce rates (average)on what days were they low or high and why<br>
Top traffic sources for the week<br>
Top Searches<br>
Most active users (most sessions)<br>
Most engaged users<br>
Email stats<br>
open rates<br>
top product clicks to canopy<br>
top product clicks to amazon<br>
did we sell anything that was featured? how much of each?<br>
Click through rate (product cards)<br>
number of recommends by the community<br>
number of new collections created<br>
total exits to amazon<br>