.header1 June

.subheader Sessions

#my_chart
.javascript

<iframe src="http://www.google.com/calendar/embed?src=canopy.co_ovf1hmrtad04316lqtjim3lp24%40group.calendar.google.com&ctz=America/Toronto" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>