%h1 Canopy Analytics stuff
= link_to "Events", "/analytics/events"
<br>
= link_to "Funnels", "/analytics/funnels"
<br>
= link_to "Test", "/analytics/test"
<br>
= link_to "Traffic", "/analytics/traffic"