%h1 Canopy Analytics Dashboard
= link_to "Funnels", "/analytics/funnels"
<br>
= link_to "Traffic", "/analytics/traffic"
<br>
= link_to "Events", "/analytics/events"
<br>
= link_to "Test", "/analytics/test"